html
  head
    title=title
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href='/css/style.css', rel='stylesheet')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Code 901")
    meta(name="description", content="MidSouth Plants Website")
    meta(name="format-detection", content="telephone=no")
  body
    div.jumbotron
      div.container-fluid
        div.row
          div.col-sm-3.left-side
            img(src="/images/midsouthplants.jpg")
          div.col-sm-9
            h1 Welcome to MidSouth Plants
            p This site is under construction...
            p We'll be with you shortly!
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
